<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <style type="text/css">
    a{margin-left: 20px; text-decoration: none;}
    a:hover{text-decoration: underline;}
    </style>
  </head>
  <body>
    <p><%= Welcome %></p>
    <!-- <p><a href="/logout">我要注销 </a> -->
    </p>
<!--     <form action="/contact" method="post">
      <input type="text" name='userid' value="2" />
      <input type="submit" value="关联表"/>
    </form> -->
    <input type="text" value="2" id="a" /><button type="button" id="1">查询用户关联的关系</button>
  </body>
  <script type="text/javascript">
     $("#1").click(function(e) {
       $.ajax({
        url : "/contact",
        type : "POST",
        contentType: "application/json;charset=utf-8",
        data : JSON.stringify({'userid':$('#a').val()}),
        // data:{userid:2},
        dataType : "json",
        success : function(result) {
          if (result == "success") {
             console.log(result.list)
           } else {
              console.log('rr')
           }
         },
         error:function(msg){
          console.log('err')
         }
       })
     })   
  </script>
</html>